.retiraEstilos {
  all: unset;
}

.acaoEspacamento {
  margin-right: 30px;
}

.required::before { 
  content:" *";
  font-size: 16px; 
  font-weight: bold;
  color: red;
}

.colunaAcao{
  width: 2% !important;
}

.colunaId{
  width: 6% !important;
}

.colunaStatus{
  width: 6% !important;
}

.readyOnly {
  background: #eee; /*Simular campo inativo*/
  pointer-events: none;
  touch-action: none;
}

.ocultar {
  display: none !important;
}